/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

html,
body {
  height: 100%;
  background-color: #333542;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.starter-template {
  padding: 51px 0;
  text-align: center;
}
.starter-template h1{
  margin-top: 85px;
  margin-bottom: 36px;
  font-size: 38px;
  font-family: "Open Sans", "Helvetica Neue", Arial, Verdana, sans-serif;
  font-weight: normal;
  color: #FFFFFF;
  letter-spacing: -0.35px;
  line-height: 38px;
  animation-duration: 0.3s;
  animation-name:  showTitle;
}

@keyframes showTitle {
  from {
    opacity: 0;
    transform: translate3d(0, 50px, 0); 
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.starter-template p{
  font-family: Calibri-Italic;
  font-size: 20px;
  font-style: italic;
  color: #E0E0E0;
  letter-spacing: 0.35px;
  line-height: 28px;
}
/* MARKETING CONTENT
-------------------------------------------------- */
.chart-picture{
  height: 540px;
  width: 100%;
  margin-top: 100px;
}
.chart-left{
  width: 850px;
  height: 100%;
  float: left;
  position: relative;
}
.chart-left img{
  height: 504px;
  position: absolute;
  top: 0;
  left: -46px;
  z-index: 2;
}

.chart-right{
  width: 320px;
  height: 100%;
  float: right;
  position: relative;
}
.chart-right img{
  height: 430px;
  position: absolute;
  bottom: 62px;
  right: -32px;
  z-index: 1;
  animation-duration: 0.3s;
  animation-name: animationImgLeft;
}

@keyframes animationImgLeft {
  from {
    opacity: 0;
    transform: translate3d(-200px, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.change-img{
  width: 663px;
  height: 419px;
  position: absolute;
  top: 28px;
  left: 65px;
  z-index: 2;
  background: url(../images/bg-01.png) no-repeat;
  background-size: cover;
}

@keyframes pulse {
  from {
    transform: scale3d(2, 2, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-duration: 1.5s;
  animation-name: pulse;
}
/* Featurettes
------------------------- */
.marketing{
  width: 100%;
  overflow: hidden;
}
.featurette-first{
  margin-top: 125px;

}
.featurette{
  margin-top: 130px;
}
.featurette-image{
  
}
.btn-wrapper{
  margin-top: 115px;
  margin-bottom: 105px;
}

/* Simple
------------------------- */
.smarter-container{
  background: #FFFFFF;
  color: #333542;
}
.simple-container{
  background: #F7F8FC;
}
.simple{
  margin-top: 120px;
  color: #272727;
  text-align: left;
  max-height: 696px;
}
.simple-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.simple-heading {
  font-weight: 300;
  line-height: 2;
  letter-spacing: -1px;
  color: #333542;
}
.simple .desc-text{
  font-size: 20px;
  color: #666666;
  letter-spacing: 0.35px;
  line-height: 28px;
}
.txt-left{
  padding-right: 60px;
}
.bord-top{
  border-top: 1px solid #E3E5EB;
  padding-top: 135px;
}
.simple-image{
  margin-top: 70px;
}
.center-block{
  max-width: 100%;
}
.themes-picture{
  margin-top: 60px;
  width: 100%;
}
.themes-picture img{
  max-width: 1120px;
  margin: 0 auto;
}
.themes-nav{
  border-bottom: 1px solid #5B5E6F;
  overflow: hidden;
  position: relative;
}
.themes-nav ul{
  width: 746px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
}
.themes-nav li{
  padding: 22px 0;
  margin-right: 90px;
  /*font-family: Calibri-Italic;*/
  font-size: 24px;
  color: #8B8A8E;
  /* letter-spacing: -0.23px; */
  line-height: 38px;
  list-style: none;
  float: left;
  cursor: pointer;
  font-weight: 300;
}
#change-theme li:last-child{
  margin-right: 0;
}
.themes-nav li.active{
  color: #FFFFFF;
}
.themes-nav .nav-line {  
  background: none repeat scroll 0 0 #FFFFFF;  
  bottom: 0;  
  font-size: 0;  
  height: 3px;  
  left: 0;  
  line-height: 3px;  
  position: absolute;  
  width: 52px;  
}    
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette p.lead{
    margin-bottom: 0;
    margin-top: 20px;
    font-size: 20px;
    color: #666666;
    letter-spacing: 0.35px;
    line-height: 28px;
    text-align: left;
  }
  .featurette-heading{
    font-size: 38px;
    color: #333542;
    letter-spacing: -0.35px;
    line-height: 38px;
    text-align: left;
    font-weight: 300;
  }

  .simple-heading {
    font-size: 38px;
  }
  .simple-heading-vague{
    font-size: 36px;
    color: #333542;
    line-height: 38px;
    margin-top: 60px;
  }
  .txt-right{
    padding-left: 54px;
  }
}

@media (min-width: 992px) {
  .simple-heading {
    
  }
}
